<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>

	</title>
</head>
<body>
	<h1>Occupant details</h1>
	{% for member in members %}
Name of the occupant	:	{{member.Name}}<br>
Age of the occupant		:	{{member.Age}}<br>
Aadhar Number			:	{{member.Aadhar_No}}<br>
Residential Address     :	{{member.Residential_Address}}<br>
Native Place			:	{{member.Native_Place}}<br>
Mobile Number			:	{{member.Mobile_No}}<br>
	{%endfor%}
<br>
<a href="http://127.0.0.1:8000/home">Go back to home</a><br>
</body>
</html>